<div class="row d-flex justify-content-center">
    <div class="col-sm-8 col-md-7 py-4">
        <h4>About</h4>
        <p class="text-body-secondary">My name is Krittin Klinhom :)</p>
    </div>
</div>