<div class="row py-3">
    <div class="col-md-12">
        <article class="blog-post">
            <h2 class="display-5 link-body-emphasis mb-1">
                <%= data.title %>
            </h2>
            <p class="blog-post-meta">
                <%= data.createdAt.toDateString() %>
            </p>

            <p>
                <%= data.body %>
            </p>
        </article>
    </div>
</div>